
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <h1>Eat Da Burger</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <img class="burgerpic" src="/assets/img/burger.png" alt="Burger Pic">
        </div>
    </div>
    <div class="row">
        <div class="col-6 available-box">
            <h2>Available Burgers</h2>
            {{#each burgers}}
                {{#unless devoured}}
                    <p>{{burger_name}}</p>
                    <button class='devour-btn' data-id = "{{id}}" value="{{burger_name}}" type='button'><i class="fas fa-utensils"></i> 
                    Devour it!</button>
                    <hr> 
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-6 eaten-box">
            <h2>Devoured Burgers</h2>
            {{#each burgers}}
                {{#if devoured}}
                <p>{{burger_name}}</p>
                <hr> 
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="add-box">
        <div class="row d-flex justify-content-center">
            <h2>Add a Burger</h2>
        </div>
        <div class="row d-flex justify-content-center">
            <img class="bun" src="/assets/img/bun-top.png" alt="Bun Top">
        </div>
        <form id="newburger" >
            <div class="row  d-flex justify-content-center">
            <textarea class="new-burger-text" type="text" name="burgername" placeholder="new burger name"></textarea>
            </div>
            <div class="row  d-flex justify-content-center">
                <button id="addburger" type="button" class="btn btn-success">Submit</button>
            </div>
        </form>
        <div class="row  d-flex justify-content-center">
            <img class="bun" src="/assets/img/bun-btm.png" alt="Bun Bottom">
        </div>
    </div>
</div>

<script>
    $(document).on("click","#addburger", function (event) {
        console.log("adding burger");
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            var burgername = $("#newburger [name=burgername]").val().trim();
            var newBurger = { name: burgername };
            console.log("new burger name: " + burgername);
            // Send the PUT request.
            $.ajax("/burger/create", {
                type: "POST",
                data: newBurger
            }).then(
                function () {
                    console.log("added burger " + name);
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });
    
    $(".devour-btn").on("click", function(event){

        var id = $(this).data("id");

                   // Send the PUT request.
        $.ajax("/burger/update/" + id, {
            type: "PUT"
        }).then(
            function () {
                console.log("devoured burger " + id);
                // Reload the page to get the updated list
                location.reload();
            }
            );

    })

</script>

